Repository Team8-Openhack/tripviewer08, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jswodka, @husamhilal, @riwasa, @enixon44, @alejosroj2c

Update README.md
  README.md
Owners: @jswodka, @husamhilal

Adding an additional message via VSCode
  README.md
Owners: @jswodka, @husamhilal

Update README.md
  README.md
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update README.md
  README.md
Owners: @jswodka, @husamhilal

Update README.md
  README.md
Owners: @jswodka, @husamhilal

Create poi.yml
  .github/workflows/ci/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Rename .github/workflows/ci/poi.yml to .github/workflows/poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @husamhilal

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @husamhilal

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update Dockerfile
  apis/poi/web/Dockerfile
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

.github/CODEOWNERS:

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
* @jswodka @husamhilal

/apis/poi/ @husamhilal
/apis/trips/ @riwasa
/apis/user-java/ @enixon44
/apis/userprofile/ @alejosroj2c
