Repository Team8-Openhack/tripviewer08, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jswodka, @husamhilal, @riwasa, @enixon44, @alejosroj2c

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Create trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update Dockerfile
  apis/trips/Dockerfile
Owners: @riwasa

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update Dockerfile
  apis/trips/Dockerfile
Owners: @riwasa

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Create user-java.yml
  .github/workflows/user-java.yml
Owners: @jswodka, @husamhilal

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update README.md
  apis/user-java/README.md
Owners: @enixon44

Update trips.yml
  .github/workflows/trips.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/trips/README.md
Owners: @riwasa

Update user-java.yml
  .github/workflows/user-java.yml
Owners: @jswodka, @husamhilal

Update user-java.yml
  .github/workflows/user-java.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/user-java/README.md
Owners: @enixon44

Update user-java.yml
  .github/workflows/user-java.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/user-java/README.md
Owners: @enixon44

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update README.md
  apis/poi/README.md
Owners: @husamhilal

Update poi.yml
  .github/workflows/poi.yml
Owners: @jswodka, @husamhilal

.github/CODEOWNERS:

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
* @jswodka @husamhilal

/apis/poi/ @husamhilal
/apis/trips/ @riwasa
/apis/user-java/ @enixon44
/apis/userprofile/ @alejosroj2c
